@for $i from 1 to 10 {
    .mb-#{$i} {
        margin-bottom: #{$i*8}px !important;
    }
}

.pb-6 {
    padding-bottom: 48px;
}

.bg-primary {
    background: #415165;
}

.ta-c {
    text-align: center;
}