.container {
    width: 1200px;
    margin: 0 auto;
}

.h1 {
    font-size: 80px;
    line-height: 95px;
    border-bottom: 2px solid #000;
    padding-bottom: 24px;
}

.h2 {
    font-size: 32px;
    line-height: 48px;
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid #000;
    span {
        font-size: 24px;
        line-height: 29px;
        color: #A00404;
        margin-left: 8px;
        font-weight: bold;
    }
}

.h2--white {
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding-top: 24px;
    span {
        color: inherit;
        margin-left: 16px;
    }
}

.list {
    li {
        font-weight: lighter;
        margin-bottom: 24px;
    }
}

.skills__title {
    width: 996px;
    margin: 0 auto;
}

.skillList {
    margin: 0 auto;
    width: 225px;
    color: #FFFFFF;
    padding-left: 24px;
    border-left: 1px solid #96A9C4;
    li {
        margin-bottom: 20px;
    }
}

.workList {
    border-left: 1px solid #96A9C4;
    padding-left: 24px;
    margin-left: 24px;
    li {
        margin-bottom: 32px;
        img {
            margin-top: 8px;
            margin-bottom: 8px;
        }
        p {
            font-size: 20px;
            line-height: 30px;
            font-weight: lighter;
        }
    }
}

.contactList {
    margin-top: 32px;
    color: #FFFFFF;
    a {
        color: inherit;
    }
    li {
        margin-bottom: 16px;
    }
    img {
        padding: 0 12px;
    }
}
.p-pb-52{
    padding-bottom: 52px;
}